// sass --watch scss:css
@import "../scss/compartido";
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#jugadores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#jugadores img {
    @include imagen_perfil(10vh);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid black;
}

#jugadores img.tuPerfil {
    border: 2px solid blue;
    // outline: 1px solid black;
}

#jugadores img.cuentacuentos {
    // outline: 1px solid blue;
    // background-clip: border-box;
    // background-color: yellow;
    box-shadow: 0 0 0 10px #CCA, 0 0 0 15px #EEC;
}

#tusCartas {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    >div {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        // border: 1px solid green;
        >img {
            max-width: 10%;
            border: 1px solid blue;
            border-radius: 5%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            margin: 1%;
            transition: all .2s;
        }
        >img:hover {
            transform: scale(2);
            transform-origin: 50% 100%;
        }
    }
    >h1 {
        text-align: center;
    }
}

#tablero {
    background-color: red;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        max-height: 100%;
    }
}

// canvas {
//     border: 0px;
// }
.error {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    text-align: center;
}